// Mixins Here
.button(@font-size, @width) {
    color: @porcelain;
    font-size: @font-size;
    width: @width;
    padding: .8rem 0;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    background-image: linear-gradient(120deg, @btn-bg-color 0%, @btn-bg-color 50%, @porcelain 50%);
    background-size: 220%;
    transition: all .5s;
}

.button-hov(@font-size, @width) {
    color: @btn-bg-color;
    font-size: @font-size;
    width: @width;
    padding: .8rem 0;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    background-position: 100%;
}

.nav-mix(){
    width: 100rem;
    margin: 0 auto;
    color: #22283B;
    background: #f4f4f4;
    padding: 20px 0;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}
